option_settings:
  aws:elasticbeanstalk:application:environment:
    DATABASE_TYPE: postgresql
    POSTGRES_SERVER: ep-black-sound-a13jwznd-pooler.ap-southeast-1.aws.neon.tech
    POSTGRES_USER: neondb_owner
    POSTGRES_DB: neondb
    POSTGRES_PORT: 5432
    POSTGRES_SSL_MODE: require
    POOL_SIZE: 5
    MAX_OVERFLOW: 10
    POOL_TIMEOUT: 30
    POOL_RECYCLE: 1800
    USERS_OPEN_REGISTRATION: True
    TOKEN_REFRESH_INTERVAL: 1800
    AUTH_RETRY_ATTEMPTS: 3
    AUTH_RETRY_DELAY: 2
    BACKEND_CORS_ORIGINS: '["https://pine-time-app-env-v2.eba-xxx.us-east-1.elasticbeanstalk.com", "http://localhost:5173", "http://localhost:8000", "http://localhost:8501"]'
